.container {
  display: flex; /* This displays the div as a block-level element */
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: flex-start;
}

#match_actions {
  /* want to make this a vertical flex box that can store game action buttons */
  /* like the "copy join link" and "copy spectate link" */
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
}


.table {
  margin-left: 15vw;
  /* top margin to align with the log legends */
  margin-top: 10px;
  flex-basis: content;

  padding: 5px; 
}

/* This is a style ruleset for the logs class */
.logs {
  /* https://www.reddit.com/r/webdev/comments/nvzhi0/flexbox_css_cheat_sheet/ */
  display: flex; /* This displays the div as a block-level element */
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-start;

   width: 50%; /* This sets the width of the div to 50% of its parent's width */
  margin: 0 auto; /* This centers the div horizontally */
}

.log {
  display: inline-block; 
  margin: 10px; 
}

#move_log_list {
  list-style: none;
  padding-left: 0;
}
#move_log_list li {
  counter-increment: steps;
}
#move_log_list li::before {
  content: "Round " counter(steps) ")";
  margin-right: .5rem;
  color: #ff6f00;
}


#move_log {
  /* element can grow into the remaining space */
  flex-grow: 1;
}
#error_log {
  /* element can grow into the remaining space */
  flex-grow: 1;
}

#table_legend {
  background-color: #BEADFA;
  color: white;
  /* add shadow on all sides to simulate a text stroke */
  text-shadow: -1px -1px 0 grey, 1px -1px 0 grey, -1px 1px 0 grey, 1px 1px 0 grey;
}

#table_fieldset {
  background-color: #e0d7ff;
  color: papayawhip;
}

#error_fieldset {
  background-color: #f4a5a4;
}
#table_buttons {
  /* styling for the div that contains all of the table_buttons */
  /* make the children (RPS buttons) be in a flexbox */
  display: flex;
}
.table_button {
  /* styling for the game-playing buttons */

  /* by allowing all buttons to grow, they become equally spaced */
  flex-grow: 1;
  margin: 2px;
 
}

fieldset {
  background-color: #eeeeee;
}

legend {
  background-color: gray;
  color: white;
  padding: 5px 10px;

  /* max-width: 10; /* This will set the maximum width of the legend to be 35 characters */ 
  /* word-wrap: break-word; /* This will break long words and wrap them onto the next line */ 
}

input {
  margin: 5px;
}

